<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular Material</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">
      <a href="https://www.android.com/" target="_blank">android</a>
    </mat-icon>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Perfil</button>
      <button mat-menu-item>Configuración</button>
      <button mat-menu-item>Salir</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
